## Data Analysis with Python: EDA PST Bonifacio


### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 4 questions about the dataset
* Your submission must include at least 4 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted for somewhere else.


Follow this step-by-step guide to work on your project.


### Step 1: Select a real-world dataset 

- Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
- The data should be in CSV format, and should contain at least 3 columns and 150 rows
- Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

Here's some sample code for downloading the [US Elections Dataset](https://www.kaggle.com/tunguz/us-elections-dataset):

```
import opendatasets as od
dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset'
od.download('https://www.kaggle.com/tunguz/us-elections-dataset')
```

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis





### Example Projects

Refer to these projects for inspiration:

* [Analyzing StackOverflow Developer Survey Results](https://jovian.ml/aakashns/python-eda-stackoverflow-survey)

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51) by Kartik Godawat

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis) by Prajwal Prashanth

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b) by Aakanksha N S

* [2019 State of Javscript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)



**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

## Import des librairies

In [189]:
pip install folium --user

Collecting folium
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
Requirement already satisfied: numpy in c:\users\cantr\anaconda3\lib\site-packages (from folium) (1.21.5)
Collecting branca>=0.3.0
  Downloading branca-0.5.0-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\cantr\anaconda3\lib\site-packages (from folium) (3.0.3)
Requirement already satisfied: requests in c:\users\cantr\anaconda3\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\cantr\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cantr\anaconda3\lib\site-packages (from requests->folium) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\cantr\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cantr\anaconda3\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cantr\anaconda3\lib\site-packages (from requests->folium) (2021.10.8)
Installing collected packages: branca, folium
Successfully installed branca-0.5.0 folium-0.12.1.post1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

from dataprep.clean import clean_lat_long

# EDA PST Bonifacio

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

## Downloading the Dataset

**TODO** - add some explanation here

> Instructions for downloading the dataset (delete this cell)
>
> - Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
> - The data should be in CSV format, and should contain at least 3 columns and 150 rows
> - Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

In [2]:
c1=pd.read_csv('Bon_R1_a.csv',sep=',',encoding='latin-1')
course1=c1.copy()
c2=pd.read_csv('Bon_R1_b.csv',sep=',',encoding='latin-1')
course2=c2.copy()

Let's begin by downloading the data, and listing the files within the dataset.

In [3]:
print(course1.shape)
course1.head(5)

(23954, 62)

,date TU,heure TU,latitude,longitude,vitesse fond,route fond,speedo,cap compas (vrai),TWD,AWA,...,Bal.avtSousVent,Bal.cent,Bal.centAuVent,Bal.centSousVent,Bal.arr,Bal.arrAuVent,Bal.arrSousVent,pos.adv.,age pos.adv.,évènement
0,11/05/2022,08:01:06,41°23.364 N,009°09.894 E,0.03nds,195°,0.03nds,195°,000°,000°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11/05/2022,08:01:07,41°23.364 N,009°09.894 E,0.03nds,193°,0.03nds,193°,000°,000°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/05/2022,08:01:08,41°23.364 N,009°09.894 E,0.04nds,192°,0.04nds,192°,000°,000°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11/05/2022,08:01:09,41°23.364 N,009°09.894 E,0.03nds,190°,0.03nds,190°,000°,000°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11/05/2022,08:01:10,41°23.364 N,009°09.894 E,0.04nds,187°,0.04nds,187°,000°,000°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(course2.shape)
course2.head(5)

(850, 62)

,date TU,heure TU,latitude,longitude,vitesse fond,route fond,speedo,cap compas (vrai),TWD,AWA,...,Bal.avtSousVent,Bal.cent,Bal.centAuVent,Bal.centSousVent,Bal.arr,Bal.arrAuVent,Bal.arrSousVent,pos.adv.,age pos.adv.,évènement
0,11/05/2022,14:40:03,41°23.363 N,009°09.892 E,0.03nds,043°,0.03nds,347°,243°,256°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11/05/2022,14:40:04,41°23.363 N,009°09.892 E,0.01nds,043°,0.01nds,347°,246°,258°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/05/2022,14:40:05,41°23.363 N,009°09.892 E,0.01nds,043°,0.01nds,347°,249°,262°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11/05/2022,14:40:06,41°23.363 N,009°09.892 E,0.02nds,039°,0.02nds,347°,250°,264°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11/05/2022,14:40:07,41°23.363 N,009°09.892 E,0.01nds,039°,0.01nds,347°,250°,263°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Preparation and Cleaning

**TODO**

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

## Fusionner les données si plusieurs data frames

In [5]:
#fusionner les 2 data frames
course1['DateTime']=pd.to_datetime(course1.pop('date TU'))+pd.to_timedelta(course1.pop('heure TU'))
course2['DateTime']=pd.to_datetime(course2.pop('date TU'))+pd.to_timedelta(course2.pop('heure TU'))
course1.set_index('DateTime')
course2.set_index('DateTime')
course=pd.concat([course1,course2])

In [6]:
#from IPython.display import display
#with pd.option_context('display.max_rows', 1000):
#    display(course2)

## Suppression de colonnes vides

In [7]:
#Suppression de colonnes vides
cols_vides = [col for col in course.columns if course[col].isnull().all()]
course.drop(cols_vides, axis=1, inplace=True)
#Suppression de colonnes non vide mais inutile
course.pop('date locale')
course.pop('heure locale')
course.pop('chrono')
course.pop('mer')
course.pop('évènement')
course.pop('Spi')
#on met l'index de temps
course.set_index('DateTime',inplace=True)

In [8]:
course.tail()

,latitude,longitude,vitesse fond,route fond,speedo,cap compas (vrai),TWD,AWA,AWS,TWA,...,Direction courant atlas,Déclinaison,Hauteur marée,% marée,Sens marée,ROLL-A,PTCH-A,Angle de barre,mastangle-A,Sous voiles
DateTime,,,,,,,,,,,,,,,,,,,,,
2022-11-05 14:54:08,41°23.363 N,009°09.894 E,0.02nds,046°,0.02nds,347°,259°,272°,12.8nds,272°,...,000°,3.07°,0.60m,77%,+,1.4°,0.0°,-10.3°,-4°,oui
2022-11-05 14:54:09,41°23.363 N,009°09.894 E,0.01nds,046°,0.01nds,347°,261°,274°,12.4nds,275°,...,000°,3.07°,0.60m,77%,+,1.3°,0.0°,-10.3°,-4°,oui
2022-11-05 14:54:10,41°23.363 N,009°09.894 E,0.03nds,047°,0.03nds,347°,263°,276°,11.6nds,276°,...,000°,3.07°,0.60m,77%,+,1.5°,0.0°,-10.3°,-4°,oui
2022-11-05 14:54:11,41°23.363 N,009°09.894 E,0.02nds,042°,0.02nds,347°,262°,275°,11.2nds,275°,...,000°,3.07°,0.60m,77%,+,1.3°,0.0°,-10.3°,-4°,oui
2022-11-05 14:54:12,41°23.363 N,009°09.895 E,0.02nds,042°,0.02nds,347°,259°,272°,10.7nds,272°,...,000°,3.07°,0.60m,77%,+,1.4°,0.0°,-10.3°,-4°,oui

In [9]:
course.columns

Index(['latitude', 'longitude', 'vitesse fond', 'route fond', 'speedo',
       'cap compas (vrai)', 'TWD', 'AWA', 'AWS', 'TWA', 'TWS', 'fond',
       'Référence fond', 'vmg', 'pres.atm.', 'temp.air', 'temp.eau',
       'Vitesse courant', 'Direction courant', 'Vitesse courant atlas',
       'Direction courant atlas', 'Déclinaison', 'Hauteur marée', '% marée',
       'Sens marée', 'ROLL-A', 'PTCH-A', 'Angle de barre', 'mastangle-A',
       'Sous voiles'],
      dtype='object')

## Conversion pour les types de données

In [10]:
course.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24804 entries, 2022-11-05 08:01:06 to 2022-11-05 14:54:12
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   latitude                 24804 non-null  object
 1   longitude                24804 non-null  object
 2   vitesse fond             24804 non-null  object
 3   route fond               24804 non-null  object
 4   speedo                   24804 non-null  object
 5   cap compas (vrai)        24804 non-null  object
 6   TWD                      24804 non-null  object
 7   AWA                      24804 non-null  object
 8   AWS                      24804 non-null  object
 9   TWA                      24804 non-null  object
 10  TWS                      24804 non-null  object
 11  fond                     24804 non-null  object
 12  Référence fond           24804 non-null  object
 13  vmg                      24804 non-null  object
 14  pres.atm.                24804 non-null  object
 15  temp.air                 24804 non-null  object
 16  temp.eau                 24804 non-null  object
 17  Vitesse courant          24804 non-null  object
 18  Direction courant        24804 non-null  object
 19  Vitesse courant atlas    24804 non-null  object
 20  Direction courant atlas  24804 non-null  object
 21  Déclinaison              24804 non-null  object
 22  Hauteur marée            24804 non-null  object
 23  % marée                  24804 non-null  object
 24  Sens marée               24804 non-null  object
 25  ROLL-A                   24348 non-null  object
 26  PTCH-A                   24348 non-null  object
 27  Angle de barre           24357 non-null  object
 28  mastangle-A              24357 non-null  object
 29  Sous voiles              24804 non-null  object
dtypes: object(30)
memory usage: 5.9+ MB

In [11]:
course=clean_lat_long(course,lat_col="latitude")
course=clean_lat_long(course,long_col="longitude")
course['latitude']=course['latitude_clean']
course['longitude']=course['longitude_clean']
course.pop('latitude_clean')
course.pop('longitude_clean')

C:\Users\cantr\anaconda3\lib\site-packages\dask\dataframe\core.py:6641: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|                                                                                            | 0/8 [00:00<…

Latitude and Longitude Cleaning Report:
	24804 values cleaned (100.0%)
Result contains 24804 (100.0%) values in the correct format and 0 null values (0.0%)

C:\Users\cantr\anaconda3\lib\site-packages\dask\dataframe\core.py:6641: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

  0%|                                                                                            | 0/8 [00:00<…

Latitude and Longitude Cleaning Report:
	24804 values cleaned (100.0%)
Result contains 24804 (100.0%) values in the correct format and 0 null values (0.0%)

DateTime
2022-11-05 08:01:06    9.1649
2022-11-05 08:01:07    9.1649
2022-11-05 08:01:08    9.1649
2022-11-05 08:01:09    9.1649
2022-11-05 08:01:10    9.1649
                        ...
2022-11-05 14:54:08    9.1649
2022-11-05 14:54:09    9.1649
2022-11-05 14:54:10    9.1649
2022-11-05 14:54:11    9.1649
2022-11-05 14:54:12    9.1649
Name: longitude_clean, Length: 24804, dtype: float64

In [12]:
#nds
course['vitesse fond']=course['vitesse fond'].str.replace('nds','').astype(float)
course['speedo']=course['speedo'].str.replace('nds','').astype(float)
course['AWS']=course['AWS'].str.replace('nds','').astype(float)
course['TWS']=course['TWS'].str.replace('nds','').astype(float)
course['vmg']=course['vmg'].str.replace('nds','').astype(float)
course['Vitesse courant']=course['Vitesse courant'].str.replace('nds','').astype(float)
course['Vitesse courant atlas']=course['Vitesse courant atlas'].str.replace('nds','').astype(float)
#°
course['route fond']=course['route fond'].str.replace('°','').astype(int)
course['cap compas (vrai)']=course['cap compas (vrai)'].str.replace('°','').astype(int)
course['TWD']=course['TWD'].str.replace('°','').astype(int)
course['AWA']=course['AWA'].str.replace('°','').astype(int)
course['TWA']=course['TWA'].str.replace('°','').astype(int)
course['Direction courant']=course['Direction courant'].str.replace('°','').astype(int)
course['Direction courant atlas']=course['Direction courant atlas'].str.replace('°','').astype(int)
course['Déclinaison']=course['Déclinaison'].str.replace('°','').astype(float)
course['ROLL-A']=course['ROLL-A'].str.replace('°','').astype(float)
course['PTCH-A']=course['PTCH-A'].str.replace('°','').astype(float)
course['Angle de barre']=course['Angle de barre'].str.replace('°','').astype(float)
course['mastangle-A']=course['mastangle-A'].str.replace('°','').astype(float)
#hPa
course['pres.atm.']=course['pres.atm.'].str.replace('hPa','').astype(float)
#°C
course['temp.air']=course['temp.air'].str.replace('°C','').astype(float)
course['temp.eau']=course['temp.eau'].str.replace('°C','').astype(float)
#%
course['% marée']=course['% marée'].str.replace('%','').astype(int)
#m
course['fond']=course['fond'].str.replace('m','').astype(float)
course['Hauteur marée']=course['Hauteur marée'].str.replace('m','').astype(float)

In [13]:
#Créer fonction pour automatiser le process de nettoyage de caractères
"""
def CleanCharacter(Key,Char):
    for i in Key:
        for j in Char:
            course[Key[i]]=course[Key[i]].str.replace(Char[j],'').astype(float)
"""

"\ndef CleanCharacter(Key,Char):\n    for i in Key:\n        for j in Char:\n            course[Key[i]]=course[Key[i]].str.replace(Char[j],'').astype(float)\n"

In [14]:
course.tail()

,latitude,longitude,vitesse fond,route fond,speedo,cap compas (vrai),TWD,AWA,AWS,TWA,...,Direction courant atlas,Déclinaison,Hauteur marée,% marée,Sens marée,ROLL-A,PTCH-A,Angle de barre,mastangle-A,Sous voiles
DateTime,,,,,,,,,,,,,,,,,,,,,
2022-11-05 14:54:08,41.3894,9.1649,0.02,46,0.02,347,259,272,12.8,272,...,0,3.07,0.6,77,+,1.4,0.0,-10.3,-4.0,oui
2022-11-05 14:54:09,41.3894,9.1649,0.01,46,0.01,347,261,274,12.4,275,...,0,3.07,0.6,77,+,1.3,0.0,-10.3,-4.0,oui
2022-11-05 14:54:10,41.3894,9.1649,0.03,47,0.03,347,263,276,11.6,276,...,0,3.07,0.6,77,+,1.5,0.0,-10.3,-4.0,oui
2022-11-05 14:54:11,41.3894,9.1649,0.02,42,0.02,347,262,275,11.2,275,...,0,3.07,0.6,77,+,1.3,0.0,-10.3,-4.0,oui
2022-11-05 14:54:12,41.3894,9.1649,0.02,42,0.02,347,259,272,10.7,272,...,0,3.07,0.6,77,+,1.4,0.0,-10.3,-4.0,oui

In [15]:
course.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24804 entries, 2022-11-05 08:01:06 to 2022-11-05 14:54:12
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   latitude                 24804 non-null  float64
 1   longitude                24804 non-null  float64
 2   vitesse fond             24804 non-null  float64
 3   route fond               24804 non-null  int32
 4   speedo                   24804 non-null  float64
 5   cap compas (vrai)        24804 non-null  int32
 6   TWD                      24804 non-null  int32
 7   AWA                      24804 non-null  int32
 8   AWS                      24804 non-null  float64
 9   TWA                      24804 non-null  int32
 10  TWS                      24804 non-null  float64
 11  fond                     24804 non-null  float64
 12  Référence fond           24804 non-null  object
 13  vmg                      24804 non-null  float64
 14  pres.atm.                24804 non-null  float64
 15  temp.air                 24804 non-null  float64
 16  temp.eau                 24804 non-null  float64
 17  Vitesse courant          24804 non-null  float64
 18  Direction courant        24804 non-null  int32
 19  Vitesse courant atlas    24804 non-null  float64
 20  Direction courant atlas  24804 non-null  int32
 21  Déclinaison              24804 non-null  float64
 22  Hauteur marée            24804 non-null  float64
 23  % marée                  24804 non-null  int32
 24  Sens marée               24804 non-null  object
 25  ROLL-A                   24348 non-null  float64
 26  PTCH-A                   24348 non-null  float64
 27  Angle de barre           24357 non-null  float64
 28  mastangle-A              24357 non-null  float64
 29  Sous voiles              24804 non-null  object
dtypes: float64(19), int32(8), object(3)
memory usage: 5.1+ MB

## Suppression de la partie de la course réalisé sans voiles

In [16]:
indexName=course[course['Sous voiles']=='non'].index
course.drop(indexName,inplace=True)

In [17]:
PST_csv = course.to_csv('PST.csv', index = True)

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Afficher la trace GPS de la course avec possible segmentation en fonction de la vitesse

In [193]:
x = np.array(course['longitude'].values)
y = np.array(course['latitude'].values)

points = np.array([x, y]).T.reshape(-1, 1, 2)

import folium
#Créer une carte centrée sur les coordonnées GPS indiquée
carte= folium.Map(location=[41, 9],zoom_start=16)
#créer la liste des coordonnées des points d'une ligne brisée

#ajouter cette liste de points à la carte
folium.PolyLine(points, color="red", weight=150, opacity=0).add_to(carte)
#Sauvegarder cette carte dans un fichier HTML
carte.save('Carte4.html')

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.